@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


nav {
    white-space: nowrap;
}

/* body::before {
    background-color: #21252b;
    display: block;
    content: '';
    height: 150px;
} */

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    min-width: 150px;
}

/* 
.swipeDown {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-10%);
}

.swipeRight {
    opacity: 0;
    transition: all 1s;
    transform: translate(-10%);
}

.swipeLeft {
    opacity: 0;
    transition: all 1s;
    transform: translate(10%);
} */

.swipeDown {
    animation-name: swipeDown;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.swipeLeft {
    animation-name: swipeLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.swipeRight {
    animation-name: swipeRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
}

.phase-in {
    animation-name: phase-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

@keyframes phase-in {
    from {
        opacity: 0
    }
}

@keyframes swipeDown {
    from {
        opacity: 0;
        transform: translateY(-10%)
    }
}

@keyframes swipeRight {
    from {
        opacity: 0;
        transform: translate(-10%)
    }
}

@keyframes swipeLeft {
    from {
        opacity: 0;
        transform: translate(10%)
    }
}

/* .see-more-btn {
    background-color: transparent;

} */

.contact-icon:hover {
    transform: scale(1.2);
}

.contact-icon {
    color: white;
}

#inputQuantity {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10%;
    color: white;
}

.whiteOutline {
    border: 1px solid white;
    color: white;
}

.down-icon {
    color: white;
    border: 1px solid white;
    background-color: #21252b;
    /* animation-name: pulse; */
}

#plsss {
    animation-name: slide;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}

@keyframes slide {
    0% {
        /* transform: translateY(-50px); */
        margin-top: 0;
    }

    100% {
        /* transform: translate(0px); */
        margin-top: 100px;
    }
}

@keyframes pulse {
    50% {
        opacity: 0;

    }
}

#arrow-button:focus {
    outline: 0;
}

.toggle-display {
    display: none;
}

#landing-page {
    min-height: 85vh;
    background-color: green;
    background-image: url('../Images/chess_4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.typewriter-container {
    display: inline-block;

}

.typerwriter-text {
    border-right: 5px solid;
    border-color: transparent;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s,
        cursor .4s steps(25) 5 alternate;
}

@keyframes cursor {
    50% {
        border-color: white;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

#sizeSelector {

    border: white;
    color: white;

}

.invisible {
    visibility: hidden;
}


.contact-div:hover {
    transform: scale(1.2);
}

#more-info-btn:hover {
    background-color: rgb(33, 37, 43);
    color: white;
    transform: scale(1.2);
}

#addedTag {
    opacity: 0;
    /* animation-name: add-basket; 
    animation-duration: 3s; 
    animation-iteration-count: 1; */


}

#navmenu {
    padding-left: 0px;
}

.added-basket-anim {
    animation-name: add-basket;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


@keyframes add-basket {
    10% {
        opacity: 1
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0
    }
}

.error-msg {
    color: red;
}