@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* body::before {
    background-color: #21252b;
    display: block;
    content: '';
    height: 150px;
} */

html {
    scroll-behavior: smooth;
}

.carousel-item {
    transition: transform 3.5s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 3.5s;
}

/* 
.swipeDown {
    opacity: 0;
    transition: all 1s;
    transform: translateY(-10%);
}

.swipeRight {
    opacity: 0;
    transition: all 1s;
    transform: translate(-10%);
}

.swipeLeft {
    opacity: 0;
    transition: all 1s;
    transform: translate(10%);
} */
.see-more-btn {
    background-color: transparent;

}

.down-icon {
    color: black;
    border: 5px solid black;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    50% {
        opacity: 0;

    }
}

#arrow-button:focus {
    outline: 0;
}

.toggle-display {
    display: none;
}

#landing-page {
    min-height: 85vh;
    ;
    background-color: green;
    background-image: url('../Images/chess_4.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.typewriter-container {
    display: inline-block;

}

.typerwriter-text {
    border-right: 5px solid;
    border-color: transparent;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s,
        cursor .4s steps(25) 5 alternate;
}

@keyframes cursor {
    50% {
        border-color: white;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

#sizeSelector {

    border: white;
    color: white;

}

.invisible {
    visibility: hidden;
}


.contact-div:hover {
    transform: scale(1.2);
}