<section id="products" class="bg-dark text-light text-center p-5 mb-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">
                            Hoodies<span class="badge px-3 ms-3 text-bg-light">New</span>
                        </h3>

                        <div id="carouselHoodie" class="carousel slide carousel-fade" data-bs-pause="false"
                            data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img 
                                    
                                    src="../Images/Hoodie.png"
                                    alt="" class="card-image img-fluid">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="../Images/Hoodie_black.png" alt="" class="card-image img-fluid">
                                </div>
                            </div>
                            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselHoodie"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselHoodie"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button> -->
                        </div>

                        <p class="card-text">

                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, corporis
                            recusandae iusto optio suscipit sint.
                        </p>
                        <a href="gallery" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">
                            T-Shirts<span class="badge px-3 ms-3 text-bg-light">New</span>
                        </h3>
                        <div id="carouselTShirt" class="carousel slide carousel-fade" data-bs-pause="false"
                            data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img src="../Images/Hoodie.png" alt="" class="card-image img-fluid">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="../Images/Hoodie_black.png" alt="" class="card-image img-fluid">
                                </div>
                            </div>
                            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselTShirt"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselTShirt"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span> -->
                        </div>

                        <p class="card-text">

                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, corporis
                            recusandae iusto optio suscipit sint.
                        </p>
                        <a href="gallery
                        " class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <h3 class="card-title mb-3">
                            Beanies<span class="badge px-3 ms-3 text-bg-light">New</span>
                        </h3>
                        <div id="carouselBeanie" class="carousel slide carousel-fade" data-bs-pause="false"
                            data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img src="../Images/Hoodie.png" alt="" class="card-image img-fluid">
                                </div>
                                <div class="carousel-item" data-bs-interval="2000">
                                    <img src="../Images/Hoodie_black.png" alt="" class="card-image img-fluid">
                                </div>
                            </div>
                            <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselBeanie"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselBeanie"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span> -->
                        </div>

                        <p class="card-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, corporis
                            recusandae iusto optio suscipit sint.
                        </p>
                        <a href="gallery" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
        </div>